* {
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background: #fff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}
